@inject IMediator mediator
@inject ILogger<HashtagInput> logger

<h3>Input new hashtag to search here anytime.</h3>
<form @onsubmit="Submit">
	<label for="addHashtagInput">Add hashtag to check:</label>
	<input id="addHashtagInput" placeholder="words you interested in" @bind-value="newInput" autocomplete="off" required />
	<button type="submit">Add</button>
</form>

@code {
	private string newInput { get; set; } = string.Empty;

	private async void Submit()
	{
		logger.LogInformation("Submitted new input {newInput}", newInput);
		await mediator.Publish(new NewInputNotification(newInput));
		newInput = string.Empty;
	}
}