@inject IMediator mediator
@inject ILogger<HashtagInput> logger

<form
	class="grid"
	@onsubmit="Submit">
	<label for="addHashtagInput">
		Add hashtags to check anytime:
	</label>
	<textarea
		id="addHashtagInput"
		placeholder="words you interested in"
		@bind="newInput"
		rows="2"
		autocomplete="off"
		required />
	<button
		type="submit">
		Add
	</button>
</form>

@code {
	private string newInput { get; set; } = string.Empty;

	private async void Submit()
	{
		logger.LogInformation("Submitted new input {newInput}", newInput);
		await mediator.Publish(new NewInputNotification(newInput));
		newInput = string.Empty;
	}
}