@inject IMediator mediator;
@inject ILogger<StartScreen> logger;


@if (LoggedIn != true)
{
	<form @onsubmit="Login">
		<label>
			Login:
			<input placeholder="fresh login" @bind-value="login" required />
		</label>
		<br />
		<label>
			Password:
			<input type="password" placeholder="fresh password" @bind-value="password" required />
		</label>
		<br />
		<button type="submit">Login</button>
	</form>
	@if (LoggedIn == false)
	{
		<p>Logging in failed.</p>
	}
}

@if (LoggedIn == true)
{
	<p>Logged in successfully.</p>
	<HashtagInput />
}

@code {
	public bool? LoggedIn { get; set; } = null;
	private string login = string.Empty;
	private string password = string.Empty;

	private async void Login()
	{
		logger.LogInformation("Login attempt {status}", "start");
		LoggedIn = await mediator.Send(new LoginRequest(login, password));
		logger.LogInformation("Login attempt {status}", LoggedIn==true? "success": "failed");
		StateHasChanged();
	}
}
