@inject IMediator mediator;
@inject ILogger<StartScreen> logger;


@if (LoggedIn != true)
{
	<form @onsubmit="Login">
		<label for="login">
			Login:
		</label>
		<input id="login" placeholder="fresh login" @bind-value="login" required />
		<br />
		<label for="password">
			Password:
		</label>
		<input id="password" placeholder="fresh password" @bind-value="password" required />
		<br />
		<button disabled="@submitBtnDisabled" type="submit">Login</button>
	</form>
	@if (LoggedIn == false)
	{
		<p>Logging in failed.</p>
	}
}

@if (LoggedIn == true)
{
	<p>Logged in successfully.</p>
	<HashtagInput />
}

@code {
	public bool? LoggedIn { get; set; } = null;
	private string login = string.Empty;
	private string password = string.Empty;
	private bool submitBtnDisabled = false;

	private async void Login()
	{
		logger.LogInformation("Login attempt {status}", "start");
		submitBtnDisabled = true;
		LoggedIn = await mediator.Send(new LoginRequest(login, password));
		logger.LogInformation("Login attempt {status}", LoggedIn == true ? "success" : "failed");
		submitBtnDisabled = false;
		StateHasChanged();
	}
}
