@inject IMediator mediator
@inject ILogger<StartScreen> logger

<section
	class="card">
	@if (LoggedIn != true)
	{
		<form @onsubmit="Login" class="grid">
			<label
				for="login">
				Login:
			</label>
			<input
				id="login"
				placeholder="fresh login"
				@bind-value="login"
				required
				/>
			<label
				for="password">
				Password:
			</label>
			<input
				id="password"
				placeholder="fresh password"
				@bind-value="password"
				required />
			<br/>
			<button
				disabled="@submitBtnDisabled"
				type="submit">
				Login
			</button>
			@if (LoggedIn == false)
			{
				<p
					class="alert">
					Logging in failed.
				</p>
			}
		</form>
	}
</section>

<main class="main-ui">
	@if (LoggedIn == true)
	{
		<HashtagInput />
		<TableContainer />
	}
</main>

@code {
	public bool? LoggedIn { get; set; } = null;
	private string login = string.Empty;
	private string password = string.Empty;
	private bool submitBtnDisabled = false;

	private async void Login()
	{
		logger.LogInformation("Login attempt {status}", "start");
		submitBtnDisabled = true;
		LoggedIn = await mediator.Send(new LoginRequest(login, password));
		logger.LogInformation("Login attempt {status}", LoggedIn == true ? "success" : "failed");
		submitBtnDisabled = false;
		StateHasChanged();
	}
}
