* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --BG-HUE: 40;
    --BG-SAT: 23%;
    --BG-LIGHT: 95%;
    --BG-COLOR: hsl(var(--BG-HUE), var(--BG-SAT), var(--BG-LIGHT));
    --BG-COLOR-2: hsl(216, 77%, 95%);
    --BG-COLOR-3: hsl(216, 77%, 90%);
}

html, body {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 1.2rem;
    background-color: var(--BG-COLOR);
    padding: 0 0.3rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    text-align: center;
    margin-top: 1rem;
}

button,
input,
textarea,
select,
fieldset {
    padding: 0 0.5rem;
    font: inherit;
    color: inherit;
    background-color: var(--BG-COLOR-2);
    border: 1px solid black;
    border-radius: 5px;
}

    button:focus,
    input:focus,
    textarea:focus,
    select:focus,
    fieldset:focus {
        outline: 3px double gray;
    }

    input[type="radio"]:focus,
    input[type="checkbox"]:focus {
        outline: none;
        transform: scale(1.1);
    }


button {
    margin: 0.3rem 0;
    transition: transform, 0.3s, ease-in-out;
}

    button:not([disabled]):hover {
        transform: scale(1.02) translateY(-3px);
    }

.selected {
    background-color: var(--BG-COLOR-2);
}


table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    font: inherit;
    color: inherit;
    border: 1px solid black;
    font-size: 1rem;
    text-align: center;
}

td {
    padding: 0.1rem 0.3rem;
    overflow: hidden;
    height: 1.2rem;
}

.card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: lightgray 5px 5px;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.alert {
    color: orangered;
}

@keyframes gradientChange {
    0% {
        background-position: bottom;
    }

    100% {
        background-position: top;
    }
}

table.processing {
    background-image: linear-gradient(var(--BG-COLOR-2) 25%, var(--BG-COLOR-3), var(--BG-COLOR-2) 75%);
    background-size: 300% 300%;
    animation: gradientChange 1s infinite linear;
}

/*blazor specific code*/
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
